* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.03em;
}

a {
  /* color: inherit; */
  /* text-decoration: none; */
  text-decoration-thickness: 1px;
  text-underline-offset: 0.16em;
}

.information {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

header {
  margin-bottom: 0.5rem;
}

header div {
  font-size: 0.75em;
  margin-top: -0.25em;
}

h1 {
  margin: 0;
  font-size: 1em;
  font-weight: inherit;
}

.gallery {
  height: 100vh;
  width: 100vw;
  /* padding: 2em; */
  overflow: hidden;
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
  height: 100%;
}

.fit {
  object-fit: contain;
}